body {
    margin: 0;
    padding: 0;
    background: #0d0d0d;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.screen {
    display: none;
    padding-top: 80px;
}

#language-screen {
    display: block;
}

.app-title {
    font-size: 48px;
    margin-bottom: 20px;
}

.choose-text {
    font-size: 24px;
    margin-bottom: 30px;
}

.language-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    margin: auto;
}

.lang-btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #1f1f1f;
    color: white;
}

.lang-btn.default {
    background: #005eff;
}

.input-group {
    margin: 15px auto;
    width: 70%;
}

.input-group input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

.main-btn {
    width: 70%;
    padding: 15px;
    background: #005eff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.switch-text {
    margin-top: 20px;
    font-size: 18px;
    color: #cccccc;
    cursor: pointer;
}
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 40px auto;
}

.dash-btn {
    background: #1f1f1f;
    color: white;
    padding: 25px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 0 #000;
    transition: 0.2s;
}

.dash-btn:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 #000;
}
/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    background: #1a1a1a;
    font-size: 18px;
    color: #ccc;
}

/* SECTION TITLE */
.section-title {
    font-size: 20px;
    margin-top: 30px;
    color: #aaa;
}

/* BIG NUMBER */
.big-number {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0 30px;
    color: #00ffcc;
}

/* CHART PLACEHOLDER */
.chart-placeholder {
    background: #2a2a2a;
    border-radius: 12px;
    padding: 40px;
    margin: 20px auto;
    width: 80%;
    color: #888;
    font-size: 18px;
    text-align: center;
}

/* GRID BUTTONS */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 40px auto;
}

/* BUTTON STYLE */
.dash-btn {
    background: #1f1f1f;
    color: white;
    padding: 25px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 0 #000;
    transition: 0.2s;
}

.dash-btn:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 #000;
}

/* COLOR BUTTONS */
.dash-btn.green {
    background: #006600;
    color: #ccffcc;
}

.dash-btn.orange {
    background: #993300;
    color: #ffddcc;
}





